<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<div class="header">
    <div class="headerLogo">
        <div class="headerLogoImg"><img src="../../assets/logo200.png" alt="logo200"></div>
        <div class="headerLogoTxt">better.me</div>
    </div>
    <div class="headerTabs">
        <div class="headerTabsEntry">Testimonials</div>
        <div class="headerTabsEntry">How does it work</div>
        <div class="headerTabsEntry">Contact</div>
        <div class="headerTabsEntry">Login</div>
        <div class="headerTabsEntry"><p>Language</p><span class="material-symbols-outlined">
            expand_more
            </span></div>
    </div>
</div>