<div class="core">
    <div class="coreLeft">
        <div class="coreLeftImg"><img src="../../assets/homeArt.png" alt=""></div>
    </div>
    <div class="coreLine"></div>
    <div class="coreRight">
        <form (ngSubmit)="onSubmitLogin()">
            <input type="email" id="email" name="email" placeholder="Enter your email" required><br>
            <input type="password" id="password" name="password" placeholder="Enter your password" required><br>
            <input type="submit" value="Login">
        </form>
        <a href="">Create an account</a>
    </div>
</div>